/** @format */

.header {
  text-align: center;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.companyName {
  color: #285e7f;
  font-size: 60px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.totalItems {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  display: flex;
  color: #555;
  justify-content: center;
  margin-right: 20px;
}

@media (max-width: 480px) {
  .header {
    display: block;
  }
  .totalItems {
    margin-right: 0;
  }
}
